node_modules/
.env
config.json
assets/soundfonts/GoldenEye_007.sf2
assets/soundfonts/Kirby_64.sf2
assets/soundfonts/Mario_Kart_64_Soundfont.sf2
commands/fun/output/output.wav
commands/fun/output/temp.midi
midi.midi
config.json
config.json
test.midi
assets/melody/battle garegga - fly to the leaden sky.mid
.gitignore
assets/soundfont/m1_organ.sf2
assets/soundfont/Escudero_Piano_M1.sf2
commands/fun/output.wav
